@import "tailwindcss";

@theme {
  --color-swiss-dark: #191E29;    /* Deep Charcoal */
  --color-swiss-navy: #132D46;    /* Deep Navy */
  --color-swiss-green: #01C38D;   /* Electric Green */
  --color-swiss-grey: #696E79;    /* Slate Grey */
}

@keyframes progress-load {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-progress-load {
  animation: progress-load 2s infinite linear;
}

html, body, #root {
  background-color: var(--color-swiss-dark);
  color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif; /* Swissborg uses clean sans-serif */
}

@keyframes float {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(20px, -30px); }
}

.animate-float-slow {
  animation: float 15s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 18s ease-in-out infinite reverse;
}


@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
.mask-linear {
  mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
}