@import "tailwindcss";

@theme {
  --color-swiss-dark: #191E29;    /* Deep Charcoal */
  --color-swiss-navy: #132D46;    /* Deep Navy */
  --color-swiss-green: #01C38D;   /* Electric Green */
  --color-swiss-grey: #696E79;    /* Slate Grey */
}

@keyframes progress-load {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-progress-load {
  animation: progress-load 2s infinite linear;
}

html, body, #root {
  background-color: var(--color-swiss-dark);
  color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif; /* Swissborg uses clean sans-serif */
}
