@import "tailwindcss";

/* This ensures the background color covers the whole page */
html, body, #root {
  background-color: #0f172a; /* matches slate-900 */
  margin: 0;
  padding: 0;
  min-height: 100%;
}